doctype html
html(ng-app="myApp")
	head
		meta(charset='utf8')
		base(href='/')
		title The Writer's Block
		link(rel='stylesheet', href='/stylesheets/connects_style.css')
		
		script(src='http://code.jquery.com/jquery-1.10.1.min.js')
		script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
		
		script(src='scripts/lib/angular/angular.js')
		script(src="https://cdn.firebase.com/v0/firebase.js")
		script(src='https://cdn.firebase.com/v0/firebase-simple-login.js')
		script(src='https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.js')
		
		script(src='scripts/app.js')
		script(src='scripts/services.js')
		script(src='scripts/controllers.js')
		script(src='scripts/filters.js')
		script(src='scripts/directives.js')
	body
		block body